h3 {
  font-size: 1.8rem;
}

.products {
  text-align: center;
  padding: 2rem 0;
}

.phone {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.phone img {
  width: 100vw;
  max-width: 500px;
}

button {
  margin: .9rem;
}

.product-buttons {
  display: flex;
  justify-content: center;
  margin: 0 0 0 -15px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/